header {
	margin-bottom: 10px;
}
body {
	margin: 0 auto;
}

ul {
	padding: 0;
    margin: 0 auto;
}

.App {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

.listview-container {
	height: 100vh;
  	overflow-y: scroll;
}

.info {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
}